@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {
#toolbar-menubar[moz-collapsed=true] {visibility:visible !important;}
#status-bar[moz-collapsed=true] {visibility:visible !important;}
/* remove the following if you want the close, minimize and restore buttons */
#window-controls {display:none !important;}
}
