/*
-------------------------------------------------------------------------------------------------- 

This style has grown larger than what Userstyles.org allows (65536 characters), so it now resides here: 

http://www.poweroffacing.com/file_download/16/paint-it-black-lastfm-v2.css

--------------------------------------------------------------------------------------------------
*/

/* -------------------------------------------------------------------------------------------------------------------------
9.11.2009
Paint It Black v.2
by Jerry Troiano
http://last.fm/user/gdtroiano
UPDATES: http://www.poweroffacing.com/file_download/16/paint-it-black-lastfm-v2.css
------------------------------------------------------------------------------------------------------------------------- */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain(beta.last.fm),domain(last.fm),domain(lastfm.com.br),domain(lastfm.de),domain(lastfm.es),domain(lastfm.fr),domain(lastfm.it),domain(lastfm.pl),domain(lastfm.se),domain(lastfm.com.tr),domain(lastfm.ru),domain(lastfm.jp),domain(cn.last.fm){
}
